/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require parsley
 */

@font-face {
  font-family: 'NissanBrandW01 Regular';
  src:url('NissanBrandW01-Regular.eot');
  src:url('NissanBrandW01-Regular.eot?#iefix') format('embedded-opentype'),
    url('NissanBrandW01-Regular.svg#icomoon') format('svg'),
    url('NissanBrandW01-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'NissanBrandW01 Regular' !important;
	font-size: 14px !important;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.hero-image {
	width: 100%;
	height: auto;
}

.flash-messages {
	background-color: #c6132d;
    color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

input[type=text],
input[type=submit],
select { 
	width: 100%;
	font-size: 16px !important;
	padding: 6px !important;
}

select {
	border-color: #c7ced5 !important;	
}

input[type=radio],
input[type=checkbox] {
	margin-right: 6px;
}

input[type=submit] {
	border: none;
}

.border {
	border-color: #c7ced5 !important;
}

.border-radius {
	border: 1px solid #c7ced5 !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

sup {
	font-size: 12px !important;
	vertical-align: text-bottom !important;
	line-height: 50% !important;
	margin-right: 3px;
}

select {
	height: 38px;
	background-color: #fff;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
	border: 1px solid #c7ced5 !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: url('/assets/arrow.png') no-repeat;
	background-position: right 5px center;
}

ul, ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	line-height: 14px;
}

ol {
	list-style-type: decimal;
}

.row-height-fix {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.row-height-fix-child {
	width: 100%;
	align-items: stretch;
}

.table-label {
	padding-right: 10px;
}

.table-cell-width {
	width: 24px !important;
}

.table-rank {
	margin-top: -6px;
}

.terms-box {
	border: 1px solid #c7ced5 !important;
	font-size: 10px !important;
	height: 250px;
	overflow-y: scroll;
}

.btn-submit {
	color: #fff;
	background-color: #c6132d !important;
}

#parsley-id-multiple-useragree_to_terms {
	width: 100%;
	clear: both;
	padding-left: 15px;
}

.parsley-required {
	color: #c6132d;
}

@media (max-width: 576px) {
    h2 { font-size: 24px !important; }
    h5 { font-size: 18px !important; }
}
